body {
    background-color: #AEC6CF;
    text-align: center;
}
.color {
    color: brown;
}
a {
    color: green; 
    text-decoration: none; 
}

.imagen-1 {
    width: 200px;
    height: auto;
}
div{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
}
.grid-item {
    width: 200px; 
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
}